default path : Sauces                                // The default directory. Use full path if it isn't within this folder
hentai website : https://nhentai.net/g/              // Did you know that some other hentai websites also utilise 6 letter codes?
textbox click : 2                                    // when clicking textbox [0] nothing will happen [1] text gets highlighted [2] text gets deleted